<a href="https://colab.research.google.com/github/vlad-bb/Python-Data-Science/blob/main/modul_02/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [80]:
file = '/content/2017_jun_final.csv'
df_data = pd.read_csv(file)

Прочитайте полученную таблицу используя метод head

In [81]:
df_data.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

Определите размер таблицы с помощью метода shape

In [82]:
row, col = df_data.shape
print(f'Table has Columns: {col}, Rows: {row}')

Table has Columns: 25, Rows: 8704

Определите типы всех столбцов с помощью dataframe.dtypes

In [38]:
df_data.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [52]:
df_data.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [45]:
df_lang = df_data['Язык.программирования']
df_clean = df_data.dropna(axis=1)
df_data_cleaned = pd.concat([df_clean, df_lang], axis=1)
df_data_cleaned.shape

(8704, 20)

Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [48]:
df_data_cleaned.isnull().sum()

N                                      0
Должность                              0
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Язык.программирования               3850
dtype: int64

Удалите все строки в исходной таблице с помощью метода dropna

In [54]:
df_data_cleaned.dropna(inplace=True)

Определите новый размер таблицы с помощью метода shape

In [55]:
df_data_cleaned.shape

(4854, 20)

Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [68]:
python_data = df_data_cleaned[df_data_cleaned['Язык.программирования'] == 'Python']

Определите размер таблицы python_data с помощью метода shape

In [69]:
python_data.shape

(207, 20)

Используя метод groupby выполните группировку по столбцу "Должность"

In [70]:
python_data.groupby(["Должность"])

Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [151]:
cleaned_data_agg = df_data_cleaned.groupby(["Должность"]).agg({"Зарплата.в.месяц": ['min', 'max']})
cleaned_data_agg

                              Зарплата.в.месяц
                                           min    max
Должность
Data Scientist / Data Analyst             2700   2700
DevOps                                    7000   7000
ERP / CRM                                 2000   2000
HTML coder                                 385    600
Junior Software Engineer                    75   2600
Product Manager                           3000   3000
Senior Software Engineer                   350   9200
Software Engineer                          100   7000
System Architect                           400  10000
Team lead                                 2500   4000
Technical Lead                             500  18000

Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [150]:
def fill_avg_salary(df):
  return df.mean()

In [153]:
avg=df_data_cleaned.groupby('Должность').agg('Зарплата.в.месяц').apply(fill_avg_salary)
cleaned_data_agg['avg']=avg
cleaned_data_agg

                              Зарплата.в.месяц                 avg
                                           min    max
Должность
Data Scientist / Data Analyst             2700   2700  2700.000000
DevOps                                    7000   7000  7000.000000
ERP / CRM                                 2000   2000  2000.000000
HTML coder                                 385    600   457.000000
Junior Software Engineer                    75   2600   605.658594
Product Manager                           3000   3000  3000.000000
Senior Software Engineer                   350   9200  3243.200926
Software Engineer                          100   7000  1678.630074
System Architect                           400  10000  4387.076923
Team lead                                 2500   4000  3250.000000
Technical Lead                             500  18000  3664.272000

Создайте описательную статистику с помощью метода describe для нового столбца.

In [154]:
cleaned_data_agg['avg'].describe()

count      11.000000
mean     2907.803502
std      1828.363270
min       457.000000
25%      1839.315037
50%      3000.000000
75%      3457.136000
max      7000.000000
Name: avg, dtype: float64

Сохраните полученную таблицу в CSV файл

In [155]:
cleaned_data_agg.to_csv('Average_salary_2017.csv')